<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
</head>

<body>
    <form method="post">
        <div class="UserName">
            <input type="text" name="UserName" id="UserName" placeholder="Nombre de usuario">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        <div>
            <input type="submit" value="Enviar" name="ok" id="ok">
        </div>
    </form>
</body>

</html>